<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML xmlns="http://www.w3.org/TR/REC-html40" xmlns:v = 
"urn:schemas-microsoft-com:vml" xmlns:o = 
"urn:schemas-microsoft-com:office:office" xmlns:p = 
"urn:schemas-microsoft-com:office:powerpoint"><HEAD><TITLE>PowerPoint プレゼンテーション</TITLE>
<META http-equiv=Content-Type content="text/html; charset=shift_jis">
<META content=PowerPoint.Slide name=ProgId>
<META content="MSHTML 5.50.4134.100" name=GENERATOR><LINK id=Main-File 
href="../140314tihou.htm" rel=Main-File><LINK href="preview.wmf" 
rel=Preview><LINK href="oledata.mso" rel=OLE-Object-Data><!--[if !mso]>
<STYLE>v\:* {
	BEHAVIOR: url(#default#VML)
}
o\:* {
	BEHAVIOR: url(#default#VML)
}
p\:* {
	BEHAVIOR: url(#default#VML)
}
.shape {
	BEHAVIOR: url(#default#VML)
}
v\:textbox {
	DISPLAY: none
}
</STYLE>
<![endif]-->
<META content=2002/03/14 name=Description><LINK 
href="140314tihou.files/master03_stylesheet.css" rel=Stylesheet><![if !ppt]>
<STYLE media=print>.sld {
	FONT-SIZE: 103%! important; LEFT: 0px! important; WIDTH: 6in! important; HEIGHT: 4.5in! important
}
</STYLE>

<SCRIPT src="140314tihou.files/script.js"></SCRIPT>
<!--[if vml]>
<SCRIPT>g_vml = 1;
</SCRIPT>
<![endif]-->
<SCRIPT event=onload for=window><!--
LoadSld( gId );
MakeSldVis(0);
//-->
</SCRIPT>
<![endif]><o:shapelayout v:ext="edit"> <o:idmap v:ext="edit" 
data="2"></o:idmap></o:shapelayout></HEAD>
<BODY lang=JA onresize=_RSW() style="MARGIN: 0px; BACKGROUND-COLOR: white">
<DIV class=sld id=SlideObj 
style="FONT-SIZE: 16px; LEFT: 0px; VISIBILITY: hidden; WIDTH: 554px; CLIP: rect(0% 101% 101% 0%); POSITION: absolute; TOP: 0px; HEIGHT: 415px; BACKGROUND-COLOR: white"><p:slide 
masterhref = "master03.xml" coordsize = "720,540" colors = 
"#FFFFFF,#000000,#808080,#000000,#00CC99,#3333CC,#CCCCFF,#B2B2B2"><p:shaperange 
href = "master03.xml#_x0000_s1025"></p:shaperange><![if !ppt]><p:shaperange href 
= "master03.xml#_x0000_s1028"></p:shaperange><p:shaperange href = 
"master03.xml#_x0000_s1029"></p:shaperange><![endif]><v:shapetype id=_x0000_t75 
coordsize = "21600,21600" o:preferrelative = "t" o:spt = "75" filled = "f" 
stroked = "f" path = " m@4@5 l@4@11@9@11@9@5 xe"><v:stroke joinstyle = 
"miter"></v:stroke><v:formulas><v:f eqn = 
"if lineDrawn pixelLineWidth 0 "></v:f><v:f eqn = "sum @0 1 0 "></v:f><v:f eqn = 
"sum 0 0 @1 "></v:f><v:f eqn = "prod @2 1 2 "></v:f><v:f eqn = 
"prod @3 21600 pixelWidth "></v:f><v:f eqn = 
"prod @3 21600 pixelHeight "></v:f><v:f eqn = "sum @0 0 1 "></v:f><v:f eqn = 
"prod @6 1 2 "></v:f><v:f eqn = "prod @7 21600 pixelWidth "></v:f><v:f eqn = 
"sum @8 21600 0 "></v:f><v:f eqn = "prod @7 21600 pixelHeight "></v:f><v:f eqn = 
"sum @10 21600 0 "></v:f></v:formulas><v:path o:extrusionok = "f" 
gradientshapeok = "t" o:connecttype = "rect"></v:path><o:lock v:ext="edit" 
aspectratio = "t"></o:lock></v:shapetype><v:shape id=_x0000_s2050 
style="LEFT: 42pt; WIDTH: 641.875pt; POSITION: absolute; TOP: 36pt; HEIGHT: 520.625pt" 
type = "#_x0000_t75" coordsize = "21600,21600" fillcolor = "#0c9 [4]" 
strokecolor = "black [1]"><v:fill color2 = "white [0]"></v:fill><v:imagedata 
o:title="" src = "slide0001_image001.wmz"></v:imagedata><v:shadow color = 
"gray [2]"></v:shadow></v:shape><o:OLEObject ObjectID="63" DrawAspect="Content" 
ShapeID="_x0000_s2050" ProgID="Word.Document.8" Type="Embed"><p:oleclientdata 
clipboardname="Microsoft Word 文書" menuname="文書" 
subtype="table"></p:oleclientdata></o:OLEObject><![if !vml]><img border=0 v:shapes="_x0000_s2050" src="slide0001_image002.gif"
 style='position:absolute;top:6.74%;left:5.77%;width:89.16%;height:96.38%'><![endif]></p:slide></DIV></BODY></HTML>
